<div data-group="<%= group.id %>" style="border: 2px solid #efefef; padding: 15px; margin-bottom: 15px;">
	
	<h4>
		<%= group.title %> 
		<%= link_to 'x', [@project, group], method: :delete, data: { confirm: 'Are you sure?' } %> <br>
	</h4>

	<div class="asset-group"><%= render group.assets %></div>
	<%= render partial: 'assets/form', locals: { group: group } %>
</div>