<div data-group="<%= group.id %>" class="group">
	
	<h4>
		<%= group.title %> 
		<%= link_to 'x', [@project, group], method: :delete, data: { confirm: 'Are you sure?' } %> <br>
	</h4>

	<div class="asset-group"><%= render group.assets %></div>
	<%= render partial: 'assets/form', locals: { group: group } %>
	
</div> <!-- end group -->