<div data-group-asset="<%= asset.id %>" style="border: 1px dotted #aaa; display: inline-block; padding: 5px; ">
	
  <%= form_for([@project, asset], remote: true) do |f| %>  	
  	<span class="editable">
  		<%= f.text_field :title, class: "editable-field unselected", disabled: true %>
  		<%= f.submit %>
  	</span>
  <% end %>

	<% if asset.image? %>
		<a href="<%= asset.image_url() %>"><%= image_tag asset.image_url(:thumb) %></a>
	<% end %>
	<%= link_to "", [@project, asset], method: :delete, remote: true, class: "icon entypo-block" %>
</div>

